<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/modernizr-2.5.2.min.js"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand">Maverick</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a id="accountsbtn">Accounts</a></li>
            <li><a id="triggersbtn">Triggers</a></li>
            <li><a id="logsbtn">Logs</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a id="conn_status">Not Connected</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="appcontent" class="span8 well">

    <div class="title">
      <h1>Todos</h1>
    </div>

    <div class="content">

      <div id="create-todo">
        <input id="new-todo" placeholder="What needs to be done?" type="text" />
        <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
      </div>

      <div id="todos">
        <ul id="todo-list"></ul>
      </div>

      <div id="todo-stats"></div>

    </div>

  </div>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="todo <%= done ? 'done' : '' %>">
      <div class="display">
        <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
        <div class="todo-content"></div>
        <span class="todo-destroy"></span>
      </div>
      <div class="edit">
        <input class="todo-input" type="text" value="" />
      </div>
    </div>
  </script>

  <script type="text/template" id="stats-template">
    <% if (total) { %>
      <span class="todo-count">
        <span class="number"><%= remaining %></span>
        <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
      </span>
    <% } %>
    <% if (done) { %>
      <span class="todo-clear">
        <a href="#">
          Clear <span class="number-done"><%= done %></span>
          completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
        </a>
      </span>
    <% } %>
  </script>


<script src="js/libs/jquery-1.7.1.min.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src="js/libs/json2.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="/browser/backbone.redis.js"></script>

<script src="js/libs/bootstrap/transition.js"></script>
<script src="js/libs/bootstrap/collapse.js"></script>
<script src="js/libs/bootstrap/alert.js"></script>
<script src="js/libs/bootstrap/modal.js"></script>
<script src="js/libs/bootstrap/dropdown.js"></script>

<script src="js/models.js"></script>
<script src="js/collections.js"></script>
<script src="js/views.js"></script>

</body>
</html>
